<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlyhocsinh">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sinhvien"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyHocSinh"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GradeRelated.MainActivityTHEMDIEM"
            android:exported="false" />
        <activity
            android:name=".GradeRelated.MainActivityTTHS"
            android:exported="false" />
        <activity
            android:name=".GradeRelated.MainActivityDiem"
            android:exported="false" />
        <activity
            android:name=".ClassRelated.MainActivityTHEM_LOP"
            android:exported="false" />
        <activity
            android:name=".ClassRelated.MainActivityLop"
            android:exported="false" />
        <activity
            android:name=".SubjectRelated.MainActivityMonHoc"
            android:exported="false" />
        <activity
            android:name=".StudentRelated.MainActivityDANHSACH"
            android:exported="true" />
        <activity
            android:name=".StudentRelated.MainActivityTHEM_HocSinh"
            android:exported="true" />
        <activity
            android:name=".MainActivityMENU"
            android:exported="true" />
        <activity
            android:name=".SubjectRelated.MainActivityTHEM_MONHOC"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>